/* Es 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square {
    transition: background-color 2s ease;
}

.ex-1-square:hover {
    background-color: red;
}

/* Es 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-2-square {
    transition: width 2s ease;
}

.ex-2-square:active {
    width: 100%;
}

/* Es 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.3s ease-in;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Es 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    transition: opacity 1s ease;
}

.ex-4-square:hover {
    opacity:0;
}

/* Es 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-5-square {
    transition: transform 1s ease;
}

.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

/* Es 6, 7, 8 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* Es 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Es 7 */
.ex-7-img {
    transition: filter 2s ease;
}
.ex-7-img:hover {
    filter: grayscale(0.7) sepia(0.5);
}

/* Es 8 */
.ex-8-img {
    transition: all 2s ease;
}

.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
}

/* Es 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img {
    transition: all 2s ease ;
}
.ex-9-img:hover {
    transform: scale(1.5);
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 20px;
}



/* Es 10 */
.ex-10-icon {
    font-size: 60px;
    animation: rotate-first 1s infinite linear;
}

@keyframes rotate-first {
    0% {
        transform: rotate(360deg);
    }
}

/* Es 11 */
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover {
    animation: rotate-second 2s linear;
}

@keyframes rotate-second {
    0% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(300deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Es 12, 13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Es 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: move-right 2s linear;
}

.ex-12-button:hover .ex-12-bottom-white  {
    animation: move-left 2s linear;
}

@keyframes move-right {
    0% {
        left: 10%;
    }

    50% {
        left: calc( 100% - 60px);
    }

    100% {
        left: 10%;
    }
}

@keyframes move-left {
    0% {
        right: 20%;
    }

    50% {
        right: calc( 100% - 60px);
    }

    100% {
        right: 20%;
    }
}

/* Es 13 */
.ex-13-button:hover .ex-13-top-white {
    animation: move-right-down 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white  {
    animation: move-left-up 2s linear;
}

@keyframes move-right-down {
    0% {
        top: -10px;
        left: 10%;
    }

    20% {
        top: -10px;
        left: calc( 100% - 30px);
    }

    40% {
        top: calc( 100% - 10px);
        left: calc( 100% - 30px);
    }

    60% {
        top: calc( 100% - 10px);
        left: -30px;
    }

    80% {
        top: -10px;
        left: -30px;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes move-left-up {
    0% {
        bottom: -10px;
        right: 20%;
    }

    20% {
        bottom: -10px;
        right: calc( 100% - 30px);
    }

    40% {
        bottom: calc( 100% - 10px);
        right: calc( 100% - 30px);
    }

    60% {
        bottom: calc( 100% - 10px);
        right: -30px;
    }

    80% {
        bottom: -10px;
        right: -30px;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}